@import "variables";
@import "colors";


*{
    @include reset;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    width: 100%;
    min-height: 95px;
    background-color: $brandBlack;
    @include flex-col;
    
    .list{
        @include flex-row;
        width: 100%;
        @include centred-separated;
        padding: 10px;
        list-style: none;
        
         li{
            @media (max-width:$tablet) {
                display: none;
            }  
        }
        .first-logo{
            @media (max-width:$tablet) {
              display: block;
            } 
        }
        .logo{
            height: 100%;
            width: 100px;
            img{
                width: 100%;
            }
            @media (max-width:$smartphone) {
                width: 300px;
                margin: 0 45px;
            }
        }
     }
    &-up{
        height: 50%;
        width: 30%;
        @include flex-row;   
        align-self: flex-end;
        font-size: 12px;
        margin-right: 250px;
        color: $brandFontGrey;
        i{
            color: $brandBlue;
            margin-right: 2px;
        }
        
        @media (max-width:$ltlscreen) {
            width: 50%;
        }
        @media (max-width:$tablet) {
            display: none;
        }
    }
    &-down{
        height: 50%;
        width:60%;
        font-size: 12px;
        @include flex-row;  
        align-self: center;
        color: $brandFontWhite;
        i{
            color: $brandFontGrey; 
        }
        @media (max-width:$smartphone) {
            width: 100%;
        }
    }
}

.jumbotron{
    width: 100%;
    height: 480px;
    background-image: url($jumbotronImg);
    background-position: center;
    @include flex-row;  
    @include content-centred;

    &-content{
        width: 45%;
        height: 100%;
        margin-left: 250px;
        @include flex-row;  
        align-items: flex-end;
        &-one{
            height: 90%;
            width: 50%;
            .title-container{
                > span{
                    color: #B96DCA;
                    font-size: 30px;
                    font-style: italic;
                }
                h2{
                    display: inline-block;
                    font-weight: normal;
                    padding: 20px 15px;
                    @media (max-width:$smartphone) {
                        padding: 0;
                     }
                }
            }

            .subtitle,ul{
                margin: 20px 0px;
                font-size: 1.1em;
            }
            ul li{
                margin: 20px 0px;
                list-style: none;
                i{
                    color: $brandFontGrey;
                }  
            }
            .download-trial{
                width: 250px;
                height: 70px;
                @include flex-row;  
                border: 2px solid $brandBlack;
                @media (max-width:$tablet) {
                    width: 200px;
                 }
                &-specs{
                    width: 70%;
                    height: 100%;
                    @include flex-col;
                    justify-content: center;
                    padding: 10px;   
                    font-size: 14px;   
                }
                &-button{
                    width: 30%;
                    @include flex-row;  
                    @include content-centred;
                    font-size: 35px;
                    color: $brandFontGrey;
                    height: 100%;
                    @media (max-width:$smartphone) {
                        width: 10%;
                     }
                }
            }
            @media (max-width:$smartphone) {
                font-size: 0.80em;
             }
        }
        &-two{
            height: 96%;
            width: 50%;
            background-color: $brandBlack;

            .download-specs{
                width: 100%;
                height: 100px;
                justify-content: space-between;
                @include flex-row;  
                .price{
                    width: 50%;
                    @include flex-col;  
                    justify-content: flex-end;
                    height: 100%;
                    span{
                        margin: 5px 15px;
                        font-size: 14px;
                        color: $brandFontGrey;
                    }
                    span:first-child{
                        color: $brandFontWhite;
                        font-size: 25px;
                    }
                }
                .moneyback{
                    width: 20%;
                    @include flex-row;  
                    align-items: center;
                    margin-right: 15px;
                    height: 100%;
                    img{
                        @media (max-width:$smartphone) {
                            height: 60px;
                         }
                    }
                }
            }
            .button-download{
                width: 150px;
                height: 40px;
                margin: 20px;
                @include flex-row;  
                @include content-centred;
                color: $brandFontWhite;
                font-size: 14px;
                background-color: $brandBlue;
            }
        }
        @media (max-width:$ltlscreen) {
           width: 100%;
           margin: 0;
        }
    }
}
.main-navbar{
    width: 100%;
    height: 60px;
    background-color: #E6E6E6;
    @include flex-row;  
    justify-content: center;
    ul{
        width: 35%;
        height: 100%;
        @include flex-row;  
        @include centred-separated;
        list-style: none;
        @media (max-width:$tablet) {
            width: 100%;
            font-size: 12px;
         }
    }
    ul li:first-child{
        border-bottom: 4px solid black;
        line-height: 59px;
        font-weight: bold;
        width: 100px;
        text-align: center;
    }
}
.section-one{
    @include flex-row;  
    flex-wrap: wrap;
    &-title{
        width: 100%;
        height: 250px;
        background-image: url($mainTitleBg);
        @include flex-col;  
        justify-content: flex-end;
        text-align: center;
        align-items: center;
        h2,p{
            margin-bottom: 40px;
            line-height: 25px;
            @media (max-width:$tablet) {
               margin-bottom: 15px;
             }
        }
        p{
            font-weight: 500;
        }
        h2{
            font-size: 40px;
        }
    }
    &-content{
        width: 100%;
        min-height: 110vh;
        background-image: url($mainContentBg);
        background-position: top;
        position: relative;
        justify-content: center;
        @include flex-row;  
        background-repeat: no-repeat;
        .play{
            height: 150px;
            width: 150px;
            background-color:rgba($color: #000000, $alpha: 0.5);
            top: 250px;
            @include flex-row;  
            border-radius: 50%;
            position: absolute;
            @include content-centred;
            i{
                color: royalblue;
                font-size: 45px;
                color: hotpink;
                &:hover{
                    color: $brandFontWhite;
                }
            }
        }
        .flow{
            height: 400px;
            width: 60%;
            background-image: url($mainContentFlow);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            @include flex-row;  
            align-items: flex-end;
            bottom: 0;
            @media (max-width:$tablet) {
                transform: rotate(90deg);
                width: 80%;
               }
            .canvas,.photo,.brushes{
                width: 33%;
                height: 90%;
                @include flex-col;  
                @include content-centred;
                text-align: center;
                @media (max-width:$tablet) {
                    transform: rotate(270deg);
                    @include flex-row;  
                   }
                h2{
                    margin: 20px 0px;
                    @media (max-width:$tablet) {
                       margin: 10px 0px;
                       font-size: 16px;
                      }
                }
                p{
                    line-height: 25px;
                    @media (max-width:$tablet) {
                        line-height: 10px;
                        font-size: 10px;
                       }
                }
            }
            img{
                height: 200px;
                @media (max-width:$ltlscreen) {
                    height: 150px;
                  }
                @media (max-width:$tablet) {
                    height: 100px;
                  }
                @media (max-width:$smartphone) {
                    height: 70px;
                  }
            }
        }
        
    }
   
}