@mixin reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin centred-separated {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
@mixin flex-col{
    display: flex;
    flex-direction: column;
}
@mixin flex-row{
    display: flex;
    flex-direction: row;
}
@mixin content-centred{
    justify-content: center;
    align-items: center;
}

$jumbotronImg : "../img/jumbotron.jpg";
$mainTitleBg: "../img/intro-top.jpg";
$mainContentBg:"../img/intro-bg.jpg";
$mainContentFlow:"../img/flow.png";

$smartphone: 480px;
$tablet:768px;
$ltlscreen:1100px;